<h2>Animals from Down Under</h2>

<form action="/animals/newAnimalPath" method="POST">
  <label> Animal Name </label>
  <input type="text" name="animalName">
  <br>
  <label> Animal Species </label>
  <input type="text" name="animalType">
  <br>

  <input type="submit" value="Add Animal">
</form>

<ul>
  {{#each animals }}
    <li>{{ this.name }}, {{ this.type }}</li>
  {{/each}}
</ul>