<h2>Animals from Down Under</h2>

{{!-- {{#if message}}
  <p>{{message}}</p>
{{/if}} --}}


<form action="/animals" method="post">
  <label for="name">Name:</label>
  <input type="text" id="name" name="animalName">

  <label for="type">Type:</label>
  <input type="text" id="type" name="animalType">

  <input type="submit">
</form>

<ul>
  {{#each animals }}
    <li>{{ this.name }}, {{ this.type }}</li>
  {{/each}}
</ul>